#offcanvasExample {
  font-size: 20px;  
  width: 400px; /* Ubah lebar sesuai kebutuhan Anda */
  }


  .upload-container {
    position: relative;
    width: 300px; /* Atur lebar sesuai kebutuhan */
    margin: auto; /* Untuk memposisikan kotak ke tengah */
  }
  
  .upload-label {
    display: block;
    background-color: #007bff; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    text-align: center;
    padding: 10px 20px; /* Padding di atas dan bawah, serta kanan dan kiri */
    border-radius: 5px; /* Untuk sudut kotak yang melengkung */
    cursor: pointer; /* Ubah kursor saat di atas tombol */
  }
  
  .upload-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .upload-button {
    margin-top: 10px; /* Jarak antara tombol dan input file */
    width: 100%; /* Tombol mengisi lebar container */
  }
  