<div class="container">
    <h1 class="mt-5 mb-4">Form Unggah File</h1>
    <form action="/uploadFile" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="fileInput" class="form-label">Pilih File</label>
        <input type="file" class="form-control" id="fileInput" name="fileInput" required accept=".json">
      </div>
      <button type="submit" class="btn btn-primary">Unggah</button>
    </form>
  </div>
